*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(158, 158, 252);
}

header h1{
    margin-top: 40px;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#city{
    text-align: center;
}

#country{
    margin-left: 20px;
}

.submit{
    margin-left: 40px;
}